*.pdf
*.pyc
.docx
tools/*
project_codes/prototype/build/*
project_codes/prototype/cmake/*
project_codes/LRCs/cmake/*
*a.txt
.history/*
.vscode
.history/
.vscode/*
*CMakeLists.txt.user
*CMakeCache.txt
*CMakeFiles
*CMakeScripts
*Testing
*Makefile
*cmake_install.cmake
*install_manifest.txt
*compile_commands.json
*CTestTestfile.cmake
*_deps
*.data

#logs
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#prototype
*.pb.cc
*grpc.pb.h 
*.pb.h
*.grpc.pb.cc
